@model ProductViewsModel

@{
    ViewData["Title"] = "UpdatePage";
}


<h2>Update Product</h2>
<form asp-action="UpdateProduct" asp-controller="Product">
    <input type="hidden" name="ProductID" value="@Model.ProductUpdate.ProductID" />
    <br />
    <h4>Enter the new Data for the Product</h4>
    <br />
    <p>Product Name: </p><input type="text" name="Name" value="@Model.ProductUpdate.Name" required/>
    <p>Price: </p><input type="number" step="0.01" name="Price" value="@Model.ProductUpdate.Price" required/>
    <p>Category ID: </p><input type="number" name="CategoryID" value="@Model.ProductUpdate.CategoryID" required/>
    <p>On Sale: </p><input type="number" name="OnSale" value="@Model.ProductUpdate.OnSale" required/>
    <p>Stock Level: </p><input type="number" name="StockLevel" value="@Model.ProductUpdate.StockLevel" required/>
    <input type="submit" value="Update" />
</form>
